body {
    margin: 0;
}

.header {
    background-color: yellow;
    height: 250px;
}

.main {
    display: flex;
}

.article {
    width: calc(100% / 3);
    border: 1px solid black;
    padding: 10px;
}

.footer {
    background-color: lightblue;
    height: 150px;
}