/* 



.container {
    background-color: #f08080;
    width: 800px;
    height: 100px;
    margin: auto;
}

.inner-block {
    background-color: aqua;
    height: calc(100% - 20px);
    width: calc(50% + 10px);
} */


/* .article {
    background-color: rgb(43, 56, 15);
    text-align: justify;
    width: 600px;
    height: 600px;


    padding: 40px;
    border: 10px solid gray;
    border-style: solid;
    border-width: 20px;
    border-color: green;

    border-radius: 40px;

    margin: 0 50px;

    box-sizing: border-box;
} */


/* .article {
    font-size: 24px;
    border: 2px solid blue;
}

.article-title {
    padding: 0.5em 0;
    font-size: 2em;
    
}

.article-text {
    line-height: 1.5em;
}

html {
    font-size: 20px;
}

.text {
    font-size: 2rem;
} */


/* body {
    text-align: center;
}

span {
    height: 200px;
    width: 200px;
} */

.header {
    text-align: center;
    background-color: aliceblue;
    padding-bottom: 25px;
}

.header-logo {
    width: 200px;
}

.item {
    display: inline;
    margin: 0 20px;
}

.nav-bar {
    font-size: 1.5em;
}

.offer {
    padding-top: 200px;
    box-sizing: border-box;
    height: 600px;
    background-size: cover;
    background-image: url('./moritz-mentges-2Ex78BL6DCY-unsplash.jpg');
}

.item > a {
    text-decoration: none;
}

/* ul {
    text-decoration: none;
} */

.title {
    font-size: 70px;
    color: white;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.offer-button {
    display: block;
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 200px;
    text-align: center;
    padding: 12px 0;

    /* margin: 0 auto;
    margin-top: 40px; */

    margin: 40px auto 0 auto;
    text-decoration: none;
    border-radius: 10px;
}