body {
    margin: 0;
}

.header {
    display: flex;
    height: 200px;
}

.header-left {
    width: 200px;
    background-color: lightblue;
}

.header-right {
    width: calc(100% - 200px);
    background-color: lightcoral;
}

/* new code */

.main {
    height: 500px;
    display: flex;
}

.main-left {
    width: 200px;
    background-color: lightblue;
}

.main-right {
    width: 200px;
    background-color: lightblue;
}

.content {
    width: calc(100% - 400px);
    background-color: lightgreen;
}

.main-nav {
    height: 55px;
    background-color: red;
}