.item {
    background-color: pink;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;

    border: 1px solid red;
    margin: 0;
}


.container {
    border: 2px dashed red;
    height: 400px;
    display: flex;
    
    justify-content: center;
    align-items: center;
}